*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6{
    color: #212121;
}

h3,h6{
    font-weight: 400;
}
p{
    color: #555;
    font-size: 0.9rem;
}
:root{
    --border-color : #ddd;
    --accent-color : #45beff;
}
.hover-link{
    cursor: pointer;
}
.hover-link:active{
    color: red;
}
